<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="LocalLift"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignProjectEEI4369"
        tools:targetApi="31">
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".W_kaluthara"
            android:exported="false" />
        <activity
            android:name=".W_gampaha"
            android:exported="false" />
        <activity
            android:name=".W_colombo"
            android:exported="false" />
        <activity
            android:name=".U_moneragala"
            android:exported="false" />
        <activity
            android:name=".U_badulla"
            android:exported="false" />
        <activity
            android:name=".Sou_gall"
            android:exported="false" />
        <activity
            android:name=".Sou_matara"
            android:exported="false" />
        <activity
            android:name=".Sou_hambantota"
            android:exported="false" />
        <activity
            android:name=".S_rathnapura"
            android:exported="false" />
        <activity
            android:name=".S_kegall"
            android:exported="false" />
        <activity
            android:name=".N_vavuniya"
            android:exported="false" />
        <activity
            android:name=".N_mulativ"
            android:exported="false" />
        <activity
            android:name=".N_mannar"
            android:exported="false" />
        <activity
            android:name=".N_jaffna"
            android:exported="false" />
        <activity
            android:name=".NW_kurunegala"
            android:exported="false" />
        <activity
            android:name=".NW_puttalam"
            android:exported="false" />
        <activity
            android:name=".NC_polonnaruwa"
            android:exported="false" />
        <activity
            android:name=".NC_anuradhapura"
            android:exported="false" />
        <activity
            android:name=".E_trincomalee"
            android:exported="false" />
        <activity
            android:name=".E_batticola"
            android:exported="false" />
        <activity
            android:name=".E_ampara"
            android:exported="false" />
        <activity
            android:name=".C_nuwaraeliya"
            android:exported="false" />
        <activity
            android:name=".C_kandy"
            android:exported="false" />
        <activity
            android:name=".C_matale"
            android:exported="false" />
        <activity
            android:name=".Uva"
            android:exported="false" />
        <activity
            android:name=".Sabaragamuwa"
            android:exported="false" />
        <activity
            android:name=".Southern"
            android:exported="false" />
        <activity
            android:name=".Western"
            android:exported="false" />
        <activity
            android:name=".Eastern"
            android:exported="false" />
        <activity
            android:name=".Central"
            android:exported="false" />
        <activity
            android:name=".North_western"
            android:exported="false" />
        <activity
            android:name=".North_central"
            android:exported="false" />
        <activity
            android:name=".Nothern_province"
            android:exported="false" />
        <activity
            android:name=".Emergency_contacts"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="LocalLift" />
        <activity
            android:name=".compass"
            android:exported="false" />
        <activity
            android:name=".places"
            android:exported="false" />
        <activity
            android:name=".Locations"
            android:exported="false" />
        <activity
            android:name=".videoGallery"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Resetpw"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>